:root {
    --active-key: #b2afaf;
}

body {
    background-color: green;
}

.hovered {
    fill: var(--active-key);
}

#noteC:hover, #noteC.hovered {
    fill: var(--active-key);
}

#noteCsharp:hover > rect, #noteCsharp:hover > polygon, #noteCsharp.hovered {
    fill: var(--active-key);
}

#noteD:hover, #noteD.hovered {
    fill: var(--active-key);
}

#noteDsharp:hover > rect, #noteDsharp:hover > polygon, #noteDsharp.hovered {
    fill: var(--active-key);
}

#noteE:hover, #noteE.hovered {
    fill: var(--active-key);
}

#noteF:hover, #noteF.hovered {
    fill: var(--active-key);
}

#noteFsharp:hover > rect, #noteFsharp:hover > polygon, #noteFsharp.hovered {
    fill: var(--active-key);
}

#noteG:hover, #noteG.hovered {
    fill: var(--active-key);
}

#noteGsharp:hover > rect, #noteGsharp:hover > polygon, #noteGsharp.hovered {
    fill: var(--active-key);
}

#noteA:hover, #noteA.hovered {
    fill: var(--active-key);
}

#noteAsharp:hover > rect, #noteAsharp:hover > polygon, #noteAsharp.hovered {
    fill: var(--active-key);
}

#noteB:hover, #noteB.hovered {
    fill: var(--active-key);
}

#noteC2:hover, #noteC2.hovered {
    fill: var(--active-key);
}

#noteD2:hover, #noteD2.hovered {
    fill: var(--active-key);
}

#noteE2:hover, #noteE2.hovered {
    fill: var(--active-key);
}

#noteF2:hover, #noteF2.hovered {
    fill: var(--active-key);
}

#noteG2:hover, #noteG2.hovered {
    fill: var(--active-key);
}

#testSlider {
    position: fixed;
    left: 1080px;
    top: 450px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}

#wavType {
    border: 1px solid black;
    border-radius: 2px;
    width: 110px;
    padding: 3px;
    position:fixed;
    left: 930px;
    top: 450px;
}