:root {
    --active-key: #b2afaf;
}

body {
    background-color: green;
}

#noteC:hover {
    fill: var(--active-key);
}

#noteD:hover {
    fill: var(--active-key);
}

#noteE:hover {
    fill: var(--active-key);
}

#noteF:hover {
    fill: var(--active-key);
}

#noteG:hover {
    fill: var(--active-key);
}

#noteA:hover {
    fill: var(--active-key);
}

#noteB:hover {
    fill: grey;
}

#noteC2:hover {
    fill: var(--active-key);
}

#noteD2:hover {
    fill: var(--active-key);
}

#noteE2:hover {
    fill: var(--active-key);
}

#noteF2:hover {
    fill: var(--active-key);
}

#noteG2:hover {
    fill: var(--active-key);
}

#testSlider {
    position: fixed;
    right: 50px;
    top: 450px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}